*.pyc
*.log
node_modules
coverage/
arches_he_sysref_funcs/logs
arches_he_sysref_funcs/export_deliverables
arches_he_sysref_funcs/cantaloupe/*
arches_he_sysref_funcs/staticfiles
arches_he_sysref_funcs/media/packages
arches_he_sysref_funcs/media/build/
arches_he_sysref_funcs/uploadedfiles/*
arches_he_sysref_funcs/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
.tsconfig-paths.json
.frontend-configuration-settings.json
